# Maven target directory
/target/
/.settings/

# Logs
*.log

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Maven specific files
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse specific files
*.diff
*.patch
.project
.classpath
.settings/
*.launch

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific files
.vscode/

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Linux specific files
*~
